body{
	padding-top: 40px;
	background-color: #FBFCFC;
}

footer p{
    color: #8ecacb;
    text-align: center;
}

footer p:hover{
    color: deeppink;
}

.mini-project-content{
	height: 250px;
	width: 85%;
	margin-top: -30px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}
