@import url('typography.css');
@import url('general.css');
@import url('topContent.css');

.cloudTwo {
    fill: white;
    margin-left: -30px;
    margin-bottom: -10px;
    animation: cloud-move-two 5s alternate infinite ease-in;
    animation-name: cloud-move-two;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

.cloudOne {
    fill: white;
    margin-bottom: 0px;
    margin-left: 0px;
    animation: cloud-move-one 5s alternate infinite ease-in;
    animation-name: cloud-move-one;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

@keyframes cloud-move-one{
    0% {transform: translate3d(100%,0,0);}
    25% {transform: translate3d(200%,0,0);}
    50% {transform: translate3d(300%,0,0);}
    75% {transform: translate3d(250%,0,0);}
    100% {transform: translate3d(100%,0,0);}
}

@keyframes cloud-move-two{
    0% {transform: translate3d(100%,0,0);}
    25% {transform: translate3d(250%,0,0);}
    50% {transform: translate3d(300%,0,0);}
    75% {transform: translate3d(200%,0,0);}
    100% {transform: translate3d(100%,0,0);}
}