@font-face{
    font-family: Nunito-Bold;
    src: url("../fonts/nunito/Nunito-Bold.ttf")
}

@font-face{
    font-family: Nunito-Light;
    src: url("../fonts/nunito/Nunito-Light.ttf")
}

@font-face{
    font-family: Nunito-Regular;
    src: url("../fonts/nunito/Nunito-Regular.ttf")
}

@font-face{
    font-family: OpenSans-Regular;
    src: url("../fonts/opensans/OpenSans-Regular.ttf")
}


*{
    padding: 0;
    margin: 0;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 50px;
}

html{
      -webkit-font-smoothing: antialiased;
}

h1{
    font-family: Nunito-Regular, sans-serif;
    font-size: 200%;
    margin-bottom: 10px;
}

h1::before{
    content: "\f101";
    font-family: FontAwesome;
    color: rgba(51, 53, 56, 0.1);
    transition: color 100ms ease-out;
    margin-right: 10px;
}

h1:hover:before{
    content: "\f101";
    font-family: FontAwesome;
    color: black;
    transition: color 100ms ease-out;
    margin-right: 10px;
}

h2{
    font-family: Nunito-Light, sans-serif;
    font-size: 150%;
    margin-bottom: 10px;
}

h3{
    font-family: Nunito-Light, sans-serif;
    font-size: 112.5%;
}

body{
    font-family: OpenSans-Regular, sans-serif;
    font-size: 100%;
}


::selection {
  color: #fff;
  background-color: #009688;
}

header{
    text-align: center;
    background-color: #3f51b5;
    color: white;
    padding: 15px;
    border-bottom: 1px;
    border-bottom-color: lightgray;
    position:fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.9;
}

header a{
    text-decoration: none;
    color: inherit;
}

header ul{
    display: inline;
}


header ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}


header ul li:hover{
    color: #e91e63;
}

.headerSpace{
    height: 200px;
    background-color: #3f51b5;
}

footer{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

footer:hover{
    color: #3f51b5;
}