@font-face{
    font-family: Nunito-Bold;
    src: url("../fonts/nunito/Nunito-Bold.ttf")
}

@font-face{
    font-family: Nunito-Light;
    src: url("../fonts/nunito/Nunito-Light.ttf")
}

@font-face{
    font-family: Nunito-Regular;
    src: url("../fonts/nunito/Nunito-Regular.ttf")
}

@font-face{
    font-family: OpenSans-Regular;
    src: url("../fonts/opensans/OpenSans-Regular.ttf")
}

@font-face{
    font-family: OpenSans-Bold;
    src: url("../fonts/opensans/OpenSans-Bold.ttf")
}
